.theme-primary {
  background-color: #00bcd4 !important;
}
.theme-primary-dark {
  background-color: #0097a7 !important;
}
.theme-primary-light {
  background-color: #80deea !important;
}
.theme-accent {
  background-color: #ff1744 !important;
}
.theme-accent-dark {
  background-color: #d50000 !important;
}
.bg-light-grey {
  background-color: #dedede;
}
.sticky {
  position: fixed;
}
.fab.sticky {
  bottom: 20px;
  right: 20px;
}
md-toolbar.sticky {
  height: 12vh;
  min-height: 12vh;
  max-height: 12vh;
}
md-toolbar.sticky * {
  color: #000;
}
header.header {
  width: 100vw;
  height: 100vh;
  background: url("../images/poly3.svg");
  padding-top: 15vh;
  color: #fff;
}
