header.header
  width 100vw
  height 92vh
  background url(../images/poly3.svg) no-repeat center center
  -webkit-background-size cover
  background=size cover
  padding-top toolbar-padding
  color white
  border-bottom solid 3px primary
  @media screen and (min-width: 1200px)
    background url(../images/poly3_big.svg) no-repeat center center

#services
  // padding-left 20px
  // padding-top toolbar-padding - 10
  // margin-right 20px
  md-item-content
    // margin-bottom 10px
    padding-top 12px
  .active
    border-right 2px accent solid
    color white
    background-color primary-light

#desc
  // padding-top toolbar-padding - 12
  height 200px
  .box
    background white
  // background white

.tagline
  margin-top 10px
  h1
    font-size 3em
    margin-bottom 0px

.info .fs-body-1
  font-size 2em

.service-container
  border-bottom accent solid 3px
  max-height 42vh
  min-height 42vh

.list-btn
  width 100%
