primary = #00BCD4
primary-dark = #0097A7
primary-light = #80DEEA
accent = #FF1744
accent-dark = #D50000
bg-light-grey = #efefef

_dark-grey-blue = #263238

blue-amount = blue(_dark-grey-blue)

bg-dark = #212121

toolbar-padding = 15vh

.theme-primary
  background-color primary !important

.theme-primary-dark
  background-color primary-dark !important

.theme-primary-light
  background-color primary-light !important

.theme-accent
  background-color accent !important

.theme-accent-dark
  background-color accent-dark !important

.bg-light-grey
  background-color bg-light-grey
