primary = #00BCD4
primary-dark = #0097A7
primary-light = #80DEEA
accent = #3D5AFE
accent-dark = #304FFE

_dark-grey-blue = #263238

blue-amount = blue(_dark-grey-blue)

bg-dark = #212121

.theme-primary
  background-color primary !important

.theme-primary-dark
  background-color primary-dark !important

.theme-primary-light
  background-color primary-light !important

.theme-accent
  background-color accent !important

.theme-accent-dark
  background-color accent-dark !important
